body * {
  box-sizing: border-box;
  font-family: sans-serif; }

body ul {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  list-style: none;
  margin: 0; }

body {
  padding: 0;
  margin: 0; }

body button {
  cursor: pointer;
  outline: none; }

body img {
  display: block; }

.inactive {
  -webkit-filter: blur(1.1px);
  filter: blur(1.1px); }

.slick-list {
  overflow: hidden; }

.slick-track {
  display: flex; }

.container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1.5fr;
  height: 100vh; }
  @media (max-width: 767px) {
    .container {
      grid-template-columns: 1fr; } }

header {
  padding: 0 10px;
  border-bottom: 1px solid #dfd6d6;
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px gray;
  position: relative;
  height: 50px; }
  @media (max-width: 767px) {
    header {
      height: 60px;
      background-image: url("../img/background.jpg");
      width: 100%;
      position: fixed;
      z-index: 999999999999999999;
      top: 0;
      left: 0; } }

.user-photo {
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
  display: block;
  padding: 0; }

.user-photo img {
  width: 40px;
  height: auto;
  border-radius: 10%;
  display: block;
  cursor: pointer; }

.bell,
.settings-btn,
.back-page-btn {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer; }

.bell img,
.settings-btn img {
  width: 20px;
  height: 20px; }
  @media (max-width: 767px) {
    .bell img,
    .settings-btn img {
      width: 28px;
      height: 28px; } }

.back-page-btn {
  margin-left: 2px;
  margin-top: 3px; }

@media (max-width: 767px) {
  .settings-btn {
    margin-right: 15px; } }

.notification {
  width: 97%;
  margin: auto;
  padding: 10px 4px;
  border: 1px solid #cccaca;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 9999;
  border-radius: 5px; }

.notification__item {
  margin-bottom: 5px;
  display: flex; }

.notification__delete {
  border: none;
  cursor: pointer;
  outline: none;
  transition: all .3s linear; }

.notification__delete:hover {
  background-color: #cec5c5; }

.notification__delete img {
  width: 10px;
  height: 10px; }

.notification__btn {
  cursor: pointer;
  display: block;
  width: 100%;
  margin: auto;
  height: 30px;
  border: none;
  outline: none; }

.icon {
  width: 24px;
  height: 24px; }

.icon--medium-size {
  width: 18px;
  height: 18px; }

.icon--small-size {
  width: 13px;
  height: 13px; }

.icon--pen {
  width: 18px;
  height: 18px; }

.icon--mute-active {
  fill: #2b96f1; }

.icon--full-info-options {
  margin-right: 10px; }

.icon--bar {
  margin-right: 5px; }

.authorization {
  width: 100%;
  height: 100vh;
  background: #00b09b;
  background: linear-gradient(to right, #6e9b20, #00b09b);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 350px) {
    .authorization {
      padding: 0 5px; } }

.registration,
.introduction
.login {
  text-align: center; }

.authorization__show-invalid-message {
  outline: none;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  border: none;
  background-color: transparent; }

.authorization__invalid-icon {
  width: 18px;
  height: 18px; }

.introduction {
  height: 300px; }

.introduction h1 {
  margin-bottom: 80px;
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center; }

.introduction__btn-wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px; }
  @media (max-width: 767px) {
    .introduction__btn-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.introduction__login-link,
.introduction__signin-link,
.introduction__guest-link {
  text-decoration: none;
  color: #000;
  text-align: center;
  padding: 10px 60px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all .3s linear;
  font-weight: 700; }
  @media (max-width: 767px) {
    .introduction__login-link,
    .introduction__signin-link,
    .introduction__guest-link {
      width: 70%;
      margin-bottom: 5px;
      background-color: rgba(255, 255, 255, 0.6); } }

.introduction__login-link:hover,
.introduction__signin-link:hover,
.introduction__guest-link:hover {
  background-color: rgba(0, 119, 199, 0.8);
  color: #fff; }

.registration,
.login,
.check-code,
.restore {
  padding-top: 60px;
  max-width: 350px;
  width: 100%;
  background-color: rgba(245, 235, 235, 0.6);
  box-shadow: 0 0 20px gray;
  border-radius: 25px;
  position: relative;
  padding-bottom: 60px; }

.login {
  padding-bottom: 100px; }

.registration__icon-background,
.login__icon-background,
.check-code__icon-background,
.restore__icon-background {
  background-color: rgba(0, 119, 199, 0.9);
  box-shadow: 0 0 2px #0077c8;
  width: 110px;
  height: 110px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.registration__header,
.login__header,
.check-code__header,
.restore__header {
  color: gray;
  font-weight: normal;
  text-align: center; }

@media (max-width: 767px) {
  .registration__form,
  .login__form,
  .restore__form {
    position: relative; } }

.icon__registration,
.icon__login,
.icon__check-code,
.icon__restore {
  width: 65px;
  height: 65px;
  fill: rgba(255, 255, 255, 0.9); }

.registration__input-wrapper,
.registration__btn-wrapper,
.login__input-wrapper,
.login__btn-wrapper,
.check-code__input-wrapper,
.check-code__btn-wrapper,
.restore__input-wrapper,
.restore__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 5px;
  margin: auto;
  border: 1px solid #c4bebe;
  background-color: #fff;
  margin-bottom: 5px; }

.registration__input-wrapper,
.login__input-wrapper,
.check-code__input-wrapper,
.restore__input-wrapper {
  padding-left: 10px;
  position: relative; }
  @media (max-width: 767px) {
    .registration__input-wrapper,
    .login__input-wrapper,
    .check-code__input-wrapper,
    .restore__input-wrapper {
      position: static; } }

.registration__invalid-data,
.login__invalid-data,
.check-code__invalid-data,
.restore__invalid-data {
  border: 2px solid #993533;
  fill: #993533; }

.registration__valid-data,
.login__valid-data,
.check-code__valid-data,
.restore__valid-data {
  fill: #279b37; }

.registration__valid-message,
.login__valid-message,
.restore__valid-message {
  min-width: 250px;
  text-align: left;
  position: absolute;
  left: 0;
  transform: translateX(-105%);
  height: 38px;
  z-index: 99999;
  background-color: rgba(190, 77, 75, 0.85);
  padding: 3px 7px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #9a3433; }
  @media (max-width: 767px) {
    .registration__valid-message,
    .login__valid-message,
    .restore__valid-message {
      min-width: 300px;
      height: 45px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -130%); } }

.triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid rgba(153, 53, 51, 0.8);
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%); }
  @media (max-width: 767px) {
    .triangle-right {
      display: none; } }

@media (max-width: 768px) {
  .triangle-down {
    right: 50%;
    bottom: 0;
    transform: translate(50%, 100%);
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid rgba(153, 53, 51, 0.8); } }

.registration__input-wrapper label,
.login__input-wrapper label {
  margin-right: 15px;
  cursor: pointer; }

.registration__btn-wrapper,
.login__btn-wrapper {
  background-color: transparent;
  margin-bottom: 0;
  margin-top: 15px; }

.registration__passsword,
.registration__login,
.registration__btn-done,
.login__passsword,
.login__login,
.login__btn-done,
.check-code__check-code,
.check-code__btn-done,
.restore__password,
.restore__btn-done {
  display: block;
  height: 45px;
  outline: none;
  width: 100%;
  border: none;
  position: relative;
  padding-left: 10px; }

.registration__btn-done,
.login__btn-done,
.check-code__btn-done,
.restore__btn-done {
  background-color: #0077c8;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300; }

.login__service-panel {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: gray; }

.login__remember-me {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .login__remember-me input {
    background-color: red;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer; }
  .login__remember-me label {
    cursor: pointer;
    transition: all .3s linear; }
    .login__remember-me label:hover {
      color: #000; }

.login__forgot-password {
  color: gray;
  transition: all .3 linear; }
  .login__forgot-password:hover {
    color: #000; }

.login__forgot-password {
  text-decoration: none; }

.login__register-link-wrapper {
  display: flex; }

.login__register-link,
.check-code__register-link {
  text-align: center;
  color: gray;
  position: absolute;
  font-size: 13px;
  bottom: 0;
  width: 100%;
  right: 50%;
  transform: translateX(50%); }
  .login__register-link a,
  .check-code__register-link a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px; }

.check-code__register-link {
  bottom: 15px; }

.restore__cancel,
.check-code__cancel {
  background-color: rgba(128, 128, 128, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 13px;
  top: 13px;
  fill: rgba(0, 0, 0, 0.7);
  transition: all .3s linear; }
  .restore__cancel:hover,
  .check-code__cancel:hover {
    background-color: rgba(128, 128, 128, 0.7);
    fill: black; }

.authorization-languages {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999999999999999;
  font-size: 13px; }

.authorization-languages__icon {
  width: 30px;
  height: 30px; }

.authorization-languages__btn {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0 4px; }
  .authorization-languages__btn:hover {
    background-color: gray; }

.authorization-languages__btn-text {
  color: #3d3b3b;
  font-weight: bold; }

.authorization-languages__language {
  margin-top: 3px; }

.bar-section {
  background-color: #fff;
  font-family: sans-serif;
  position: relative;
  color: #5e5b5b;
  font-weight: 600;
  overflow: auto;
  position: relative; }
  @media (max-width: 767px) {
    .bar-section {
      display: none;
      padding-top: 80px;
      padding-bottom: 120px; } }

.bar-section.bar-section_theme_dark {
  background-color: #121212;
  color: #d1c3c3;
  fill: #d1c3c3;
  font-weight: 400;
  border-right: 1px solid #524f4f; }

.bar-section.bar-section_theme_dark .bar-section__add-new-folder-btn {
  background-color: #303030; }

.bar-section.bar-section_theme_dark .todo-lists-folder__create-new {
  margin-right: 5px;
  background-color: #706b6b; }
  .bar-section.bar-section_theme_dark .todo-lists-folder__create-new::-webkit-input-placeholder {
    color: #d1c3c3; }
  .bar-section.bar-section_theme_dark .todo-lists-folder__create-new::-moz-placeholder {
    color: #d1c3c3; }
  .bar-section.bar-section_theme_dark .todo-lists-folder__create-new:-ms-input-placeholder {
    color: #d1c3c3; }
  .bar-section.bar-section_theme_dark .todo-lists-folder__create-new::-ms-input-placeholder {
    color: #d1c3c3; }
  .bar-section.bar-section_theme_dark .todo-lists-folder__create-new::placeholder {
    color: #d1c3c3; }

.bar-section.bar-section_theme_dark .todo-lists-folder__create-new {
  background-color: transparent;
  border: 1px solid gray;
  color: #d1c3c3; }
  .bar-section.bar-section_theme_dark .todo-lists-folder__create-new:hover {
    background-color: transparent; }

.bar-section__labels-list {
  margin: 0; }

.bar-section__labels-list-item {
  padding: 6px 0 6px 10px;
  position: relative;
  cursor: pointer; }
  .bar-section__labels-list-item:hover {
    background-color: rgba(44, 149, 242, 0.65); }
  @media (max-width: 767px) {
    .bar-section__labels-list-item:hover {
      background-color: transparent; } }

.bar-section__add-new-folder-btn {
  display: block;
  width: 100%;
  height: 70px;
  position: absolute;
  color: #000;
  bottom: 0;
  left: 0;
  font-size: 30px;
  background-color: #fff;
  border: none;
  font-weight: 300;
  cursor: pointer;
  outline: none;
  padding: 0;
  box-shadow: 0px 0px 10px gray; }
  @media (max-width: 767px) {
    .bar-section__add-new-folder-btn {
      height: 50px; } }

.bar-section__edit-todo-list-menu {
  width: 85%;
  margin: auto;
  padding: 5px 10px; }

.todo-list-label {
  cursor: pointer;
  transition: all .3s linear;
  position: relative;
  margin-bottom: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden; }
  @media (max-width: 767px) {
    .todo-list-label {
      height: 50px; } }

.todo-list-label__correct-btn {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  outline: none;
  border: none;
  background-color: transparent;
  z-index: 999999999999;
  padding: 0;
  cursor: pointer;
  transform: translateX(100%);
  transition: all .3s linear; }
  @media (max-width: 767px) {
    .todo-list-label__correct-btn {
      padding-right: 20px;
      display: none; } }

.todo-list-label__icon {
  width: 24px;
  height: 24px;
  margin-right: 5px; }

.todo-list-label__task-amount {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  right: 10px;
  display: flex;
  transition: all .3s linear; }
  @media (max-width: 767px) {
    .todo-list-label__task-amount {
      padding-right: 20px; } }

.todo-list-label.todo-list-label_with_correct_btn:hover > .todo-list-label__correct-btn {
  transform: none; }

.todo-list-label.todo-list-label_with_correct_btn:hover > .todo-list-label__task-amount {
  right: 40px; }

.bar-section__labels-list-item.bar-section__labels-list-item_folder_wrapper:hover {
  background-color: transparent; }

.todo-lists-folder__create-new {
  outline: none;
  padding: 4px 4px 4px 10px;
  border: none; }

.todo-lists-folder__inner-list {
  padding-left: 15px;
  margin-top: 5px; }

.bar-section__icon_star_active {
  fill: #ffc107;
  stroke: none; }

.edit-list-label {
  max-width: 300px;
  width: 100%;
  background-color: rgba(208, 215, 215, 0.9);
  padding-top: 15px;
  position: fixed;
  color: #000;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px #999797;
  z-index: 99999; }
  @media (max-width: 767px) {
    .edit-list-label {
      display: none; } }

.edit-list-label__delete-todo-list {
  padding: 3px 0;
  position: absolute;
  left: 10px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none; }

.edit-list-label__done-btn {
  background-color: #2b96f1; }

.edit-list-label__dont-disturbe-input {
  margin: 25px;
  margin-left: 15px; }

.edit-list-label__footer {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10px;
  border-top: 1px solid #b4b2b2; }

.edit-list-label__header {
  text-align: center;
  margin-top: 0;
  font-size: 18px; }

.edit-list-label__icon {
  width: 24px;
  height: 24px; }

.edit-list-label__new-name {
  width: 90%;
  display: block;
  padding: 5px 10px;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #a7a1a1;
  outline: none; }

.edit-list-label__results-btns {
  outline: none;
  border: none;
  padding: 5px 14px;
  border-radius: 4px;
  cursor: pointer; }

.edit-list-label__results-btn_cancel {
  margin-right: 13px;
  background-color: #fbfbfb; }

.edit-list-label__results-btn_done {
  background-color: #2b96f1; }

.edit-list-label.edit-list-label_theme-dark {
  background-color: rgba(123, 142, 142, 0.9); }

.todo-section {
  background-color: #385e38;
  padding: 15px 10px;
  font-family: sans-serif;
  background-image: url("../img//background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: auto; }
  @media (max-width: 767px) {
    .todo-section {
      padding-top: 80px;
      padding-bottom: 130px; } }

.todo-section.todo-section_theme_dark {
  background-color: #121212;
  color: #d1c3c3;
  background-image: none; }

.add-todo {
  width: 100%;
  height: 38px;
  background-color: #8d8686;
  border: none;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 2px;
  outline: none;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .add-todo {
      display: none; } }

.add-todo::-webkit-input-placeholder {
  color: #fff; }

.add-todo::-moz-placeholder {
  color: #fff; }

.add-todo:-ms-input-placeholder {
  color: #fff; }

.add-todo::-ms-input-placeholder {
  color: #fff; }

.add-todo::placeholder {
  color: #fff; }

.add-todo_theme_dark {
  background-color: #706b6b;
  box-shadow: 0 0 3px #fff; }

.todo-list {
  margin-bottom: 15px; }

.todo-list__item {
  margin-bottom: 5px; }

.todo {
  display: flex;
  height: 36px;
  padding: 7px 15px;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  position: relative;
  cursor: pointer; }
  @media (max-width: 767px) {
    .todo {
      height: 41px; } }

.todo__check-input {
  width: 18px;
  height: 18px;
  margin-right: 10px; }

.todo.todo_theme_dark {
  background-color: #303030;
  box-shadow: 0 0 2px #fff; }

.todo_completed {
  text-decoration: line-through;
  opacity: .65; }

.todo_theme_dark.todo_completed {
  background-color: #272626;
  box-shadow: none; }

.pin-btn__icon {
  width: 21px;
  height: 21px; }

.pin-btn.pin-btn_todo_completed {
  display: none; }

.pin-btn {
  background-color: transparent;
  border: none; }

.pin-btn.pin-btn_todo {
  position: absolute;
  right: 33px; }

.pin-btn_theme_dark {
  stroke: #d1c3c3;
  stroke-width: 2px;
  fill: transparent; }

.pin-btn_active {
  fill: #e4002b;
  stroke: none; }

.importantly-btn__icon {
  width: 21px;
  height: 21px; }

.importantly-btn.importantly-btn_todo_completed {
  display: none; }

.importantly-btn {
  background-color: transparent;
  border: none; }

.importantly-btn.importantly-btn_todo {
  position: absolute;
  right: 0; }
  @media (max-width: 767px) {
    .importantly-btn.importantly-btn_todo {
      right: 3px; } }

.importantly-btn_theme_dark {
  stroke: #d1c3c3;
  stroke-width: 2px;
  fill: transparent; }

.importantly-btn_active {
  fill: #ffc107;
  stroke: none; }

.todo-list-settings {
  position: fixed;
  bottom: 40px;
  left: 45%;
  transform: translateX(-45%);
  border-radius: 5px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .todo-list-settings {
      bottom: 3vh;
      position: fixed; } }

.todo-list-settings__icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px; }

.todo-list-settings__panel {
  padding: 8px 0;
  width: 240px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  transition: all .3s linear;
  cursor: pointer; }
  .todo-list-settings__panel:hover {
    background-color: white; }
  @media (max-width: 767px) {
    .todo-list-settings__panel {
      padding: 4px 0;
      background-color: rgba(255, 255, 255, 0.5); } }

.todo-list-settings__part-btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px; }

.todo-list-settings__part-btn_active {
  color: #2b96f1;
  fill: #2b96f1; }

.todo-list-settings.todo-list-settings_theme_dark {
  background-color: #303030;
  color: #d1c3c3; }

.visible-completed-todo {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  margin-bottom: 10px; }

.visible-completed-todo__btn {
  outline: none;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 2px 10px;
  background-color: #999292;
  color: #fff;
  font-weight: 300;
  font-size: 13px;
  cursor: pointer; }
  @media (max-width: 767px) {
    .visible-completed-todo__btn {
      opacity: .75;
      width: 80%;
      padding: 10px 4px; } }

.visible-completed-todo__icon {
  width: 24px;
  height: 24px; }

.visible-completed-todo.visible-completed-todo_theme_dark {
  fill: #646262; }

.visible-completed-todo.visible-completed-todo_theme_dark .visible-completed-todo__btn {
  background-color: #646262; }

.todo-list-settings-option {
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
  outline: none;
  padding-left: 12px;
  display: flex;
  align-items: center;
  border: none;
  transition: all .3s linear; }
  .todo-list-settings-option:hover {
    background-color: white; }
  @media (max-width: 767px) {
    .todo-list-settings-option {
      background-color: rgba(255, 255, 255, 0.95);
      display: none; } }

.todo-list-settings-option__icon {
  width: 24px;
  height: 24px;
  margin-right: 15px; }
  .todo-list-settings-option__icon--active {
    fill: #2b96f1; }

.todo-list-settings-option_theme_dark {
  background-color: #303030;
  color: #d1c3c3;
  fill: #b18b8b; }
  .todo-list-settings-option_theme_dark:hover {
    background-color: #575252; }

.todo-list-settings-option.todo-list-settings-option_active {
  color: #2b96f1;
  fill: #2b96f1; }

.todo-list-settings-option__disturb-status {
  margin-left: 40px; }

.todo-list-settings-option__disturb-status_on {
  color: red; }

.todo-list-settings__panel.todo-list-settings__panel_theme_dark {
  background-color: #303030; }
  .todo-list-settings__panel.todo-list-settings__panel_theme_dark:hover {
    background-color: #575252; }

.todo-additional-option {
  margin: 0;
  padding: 15px; }

.todo-additional-option__time-options {
  background-color: #fff;
  padding: 7px;
  margin: 0;
  box-shadow: 0px 0px 10px gray;
  border-radius: 3px;
  margin-bottom: 12px; }

.todo-additional-option__time-options-item {
  margin-bottom: 8px; }

.todo-comment {
  box-shadow: 0px 0px 2px gray;
  border-radius: 3px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 1px 10px;
  background-color: #fff;
  position: relative;
  margin-left: auto; }

.todo-comments-list__item {
  margin-bottom: 5px; }

.todo-comments-list {
  max-height: 30%;
  overflow: auto;
  padding: 13px 0;
  margin-bottom: 10px; }

.todo-full-info__close-btn {
  border: none;
  background-color: transparent;
  border: 1px solid gray;
  padding: 4px;
  padding-bottom: 1px; }

.todo-full-info__delete-todo {
  border: none; }

.todo-full-info__manipulation-wrapper {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  padding: 10px; }
  @media (max-width: 767px) {
    .todo-full-info__manipulation-wrapper {
      position: static;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; } }

.todo-full-info__manipulations {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.todo-full-info-icon {
  width: 23px;
  height: 23px; }

.todo-full-info {
  padding: 0;
  position: relative;
  background-color: #dcdee4;
  padding-bottom: 90px;
  overflow: auto; }
  @media (max-width: 767px) {
    .todo-full-info {
      padding-bottom: 0;
      position: static;
      margin-bottom: 50px; } }

.todo-full-text__check-input-todo {
  margin-right: 10px; }
  @media (max-width: 767px) {
    .todo-full-text__check-input-todo {
      display: none; } }

.todo-full-text__text {
  border: none;
  display: block;
  width: 100%;
  resize: vertical;
  resize: none;
  min-height: 30px;
  max-height: 100px;
  outline: none;
  padding: 5px;
  background-color: transparent; }

.todo-full-text {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  box-shadow: 0 1px 10px gray;
  padding: 20px 10px;
  background-color: #fff; }

.todo-full-text__importantly-btn {
  margin-right: 15px; }

.delete-btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: gray; }

.delete-btn__icon {
  width: 13px;
  height: 13px; }

.delete-btn_todo_subtask {
  position: absolute;
  right: 5px; }

.delete-btn_todo_time_option {
  position: absolute;
  right: 0; }

.todo-note {
  background-color: #fff2ab;
  width: 100%;
  resize: none;
  height: 130px;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 10px gray;
  outline: none;
  margin-bottom: 15px; }

.todo-remind__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px; }

.todo-remind__input {
  color: red;
  border: none;
  outline: none;
  background-color: transparent; }

.todo-remind__input::-webkit-input-placeholder {
  color: gray; }

.todo-remind__input::-moz-placeholder {
  color: gray; }

.todo-remind__input:-ms-input-placeholder {
  color: gray; }

.todo-remind__input::-ms-input-placeholder {
  color: gray; }

.todo-remind__input::placeholder {
  color: gray; }

.todo-remind {
  display: flex;
  align-items: center;
  padding: 4px 4px;
  border-bottom: 1px solid #000;
  position: relative; }

.todo-subtask__check-input-subtask {
  margin-right: 10px; }

.todo-subtask {
  box-shadow: 0px 0px 2px gray;
  border-radius: 3px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 1px 10px;
  background-color: #fff;
  position: relative; }

.todo-subtasks__add-form-btn {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border: none;
  color: gray;
  font-size: 20px; }

.todo-subtasks__add-form-input {
  height: 35px;
  padding: 5px 8px;
  transform: translateX(-1px);
  border: none;
  outline: none;
  background-color: #fff; }

.todo-subtasks__add-form {
  display: grid;
  grid-template-columns: 1fr 10fr;
  box-shadow: 0px 0px 10px gray;
  border-radius: 3px;
  margin-bottom: 15px; }

.todo-subtasks__list-item {
  margin-bottom: 5px; }

.todo-subtasks__list {
  margin: 0;
  height: 25%;
  overflow: auto; }

.todo-subtasks {
  margin-bottom: 10px; }

.add-comment-form {
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-column-gap: 5px; }

.add-comment-form__input {
  border: 1px solid gray;
  padding: 6px 15px;
  border-radius: 3px;
  outline: none; }

.add-comment-form__btn {
  border: 1px solid gray;
  border-radius: 3px;
  background-color: transparent;
  padding: 0 16px;
  cursor: pointer;
  color: gray;
  transition: all .3s linear;
  outline: none; }

.add-comment-form__btn:hover {
  box-shadow: inset 0px 0px 5px #cfcbcb; }

.todo-full-info.todo-full-info_theme_dark {
  background-color: #121212;
  color: #d1c3c3;
  border-left: 1px solid #524f4f; }
  @media (max-width: 767px) {
    .todo-full-info.todo-full-info_theme_dark {
      border-left: none; } }

.todo-full-info.todo-full-info_theme_dark .todo-full-text {
  background-color: #121212;
  color: #d1c3c3;
  box-shadow: 0 0 1px #524f4f; }

.todo-full-info.todo-full-info_theme_dark .todo-full-text__text::-webkit-input-placeholder, .todo-full-info.todo-full-info_theme_dark .todo-subtasks__add-form-input::-webkit-input-placeholder, .todo-full-info.todo-full-info_theme_dark .todo-remind__input::-webkit-input-placeholder {
  color: #d1c3c3; }

.todo-full-info.todo-full-info_theme_dark .todo-full-text__text::-moz-placeholder, .todo-full-info.todo-full-info_theme_dark .todo-subtasks__add-form-input::-moz-placeholder, .todo-full-info.todo-full-info_theme_dark .todo-remind__input::-moz-placeholder {
  color: #d1c3c3; }

.todo-full-info.todo-full-info_theme_dark .todo-full-text__text:-ms-input-placeholder, .todo-full-info.todo-full-info_theme_dark .todo-subtasks__add-form-input:-ms-input-placeholder, .todo-full-info.todo-full-info_theme_dark .todo-remind__input:-ms-input-placeholder {
  color: #d1c3c3; }

.todo-full-info.todo-full-info_theme_dark .todo-full-text__text::-ms-input-placeholder, .todo-full-info.todo-full-info_theme_dark .todo-subtasks__add-form-input::-ms-input-placeholder, .todo-full-info.todo-full-info_theme_dark .todo-remind__input::-ms-input-placeholder {
  color: #d1c3c3; }

.todo-full-info.todo-full-info_theme_dark .todo-full-text__text,
.todo-full-info.todo-full-info_theme_dark .todo-full-text__text::placeholder,
.todo-full-info.todo-full-info_theme_dark .todo-subtasks__add-form-input::placeholder,
.todo-full-info.todo-full-info_theme_dark .todo-remind__input::placeholder {
  color: #d1c3c3; }

.todo-full-info.todo-full-info_theme_dark .todo-additional-option__time-options {
  background-color: #303030;
  fill: #d1c3c3;
  box-shadow: none; }

.todo-full-info.todo-full-info_theme_dark .todo-note {
  box-shadow: none; }

.todo-full-info.todo-full-info_theme_dark .todo-full-info__manipulation-wrapper {
  fill: #d1c3c3;
  background-color: #121212; }

.todo-full-info.todo-full-info_theme_dark .todo-subtasks__add-form-input,
.todo-full-info.todo-full-info_theme_dark .todo-subtasks__add-form-btn,
.todo-full-info.todo-full-info_theme_dark .todo-subtask,
.todo-full-info.todo-full-info_theme_dark .todo-comment,
.todo-full-info.todo-full-info_theme_dark .todo-subtasks__add-form,
.todo-full-info.todo-full-info_theme_dark .add-comment-form__input,
.todo-full-info.todo-full-info_theme_dark .add-comment-form__btn {
  background-color: #303030;
  box-shadow: none;
  fill: #d1c3c3;
  color: #d1c3c3; }

.settings {
  background-color: rgba(208, 215, 215, 0.9);
  max-width: 500px;
  width: 100%;
  height: 95vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 18px 10px;
  z-index: 999999;
  display: none;
  overflow: auto;
  color: #000; }
  @media (max-width: 767px) {
    .settings {
      position: static;
      height: 100%;
      transform: none;
      margin-top: 60px; } }

.settings__change-password-btn {
  padding: 3px 15px;
  margin-bottom: 10px;
  border: 1px solid #b6b2b2;
  box-shadow: 0 0 10px gray;
  cursor: pointer;
  border-radius: 3px; }

.settings__change-value-input {
  box-shadow: 0 0 10px #a8a4a4;
  outline: none;
  padding: 4px 10px;
  width: 80%;
  border: none;
  display: block;
  border-radius: 3px; }

.settings__close-btn {
  display: block;
  margin-left: auto;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent; }

.settings__header {
  margin-top: 0;
  text-align: center;
  color: #000; }

.settings__icon {
  width: 18px;
  height: 18px; }

.settings__part-name-wrapper {
  display: flex;
  align-items: center; }

.settings__part-name {
  letter-spacing: 1px; }

.settings__value {
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
  color: #000; }

.settings__icon_correct {
  width: 18px;
  height: 18px; }

.settings__icon_open-status {
  width: 24px;
  height: 24px; }

.settings__icon_part_name {
  width: 24px;
  height: 24px;
  margin-right: 10px; }

.settings.settings_theme_dark {
  background-color: rgba(123, 142, 142, 0.9); }

.settings.settings_theme_dark * {
  box-shadow: none; }

.settings__part-btn {
  width: 100%;
  padding: 6px 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  outline: none;
  border: 1px solid #c2bbbb;
  box-shadow: 0 0 10px #c9c5c5;
  border-radius: 4px; }

.settings__value-list {
  padding: 10px 0; }

.settings__value-list-item {
  margin-bottom: 5px; }

.settings__change-value-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0; }

.settings__change-value-input_security_parts {
  margin-bottom: 5px; }

.settings__language-btn {
  box-shadow: 0 0 10px #a8a4a4;
  outline: none;
  padding: 4px 10px;
  width: 80%;
  border: none;
  display: block;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  position: relative; }

.settings__icon_language_btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); }

.settings__selected-language {
  margin-bottom: 10px;
  width: 50%;
  display: flex;
  align-items: center; }

.settings__icon_selected_language {
  margin-left: 10px; }

.settings__value-header {
  font-weight: 700;
  margin-right: 7px; }
